.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #ff512f;
}

a:hover {
  color: black;
}

.nav-btn {
  outline: none;
  border: none;
  margin: 10px;
  font-size: medium;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 480px) {
  .nav-container {
    top: 50px;
  }
}
